body {
    font-family: 'Poppins', sans-serif;
    background: #f7f7f7;
    margin: 0;
    padding: 20px;
}

.navbar {
    padding: 20px 40px;
}

.logo {
    font-size: 28px;
    font-weight: bold;
    color: #7fc142;
}

.reservation-list-container {
    max-width: 800px;
    margin: 50px auto;
    background: white;
    border-radius: 16px;
    padding: 30px;
    box-shadow: 0 8px 24px rgba(0,0,0,0.1);
}
.reservation-room-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 10px;
}
.reservation-list-container h1 {
    text-align: center;
    margin-bottom: 30px;
    color: #333;
}

.reservation-card {
    background: #f0f0f0;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.05);
}

.reservation-card h3 {
    margin-bottom: 10px;
    color: #7fc142;
}

.reservation-card p {
    margin: 5px 0;
    color: #555;
}
